<div class="container">
  <h1>Sign into this sweet page!</h1>

  <a href="/create_account"> Create an account here!</a> 

  <form action="/login" method='post'>
    <label for="email">Email: </label>
      <input type="text" name="email"><br>
    <label for="password">Password: </label>
      <input type="password" name="password"><br>

    <input type="submit" value="Login!">
  </form>
</div>
