<center> <h1> You did it! </h1>

<img src="http://rack.3.mshcdn.com/media/ZgkyMDEzLzA4LzA1L2JmL2hpbXltLjU4YTEyLmdpZgpwCXRodW1iCTg1MHg1OTA-CmUJanBn/90a990f6/b38/himym.jpg"> </img> 

<form action="/logout" method="post">
  <input type="submit" value="Sign out!">
</form>
</center>

